
body {
    background-color: #hsla;
    font-family: 'Franklin Gothic Medium';
    font-size : 120px;
    text-align: center;
    font-style: oblique;


	
	}

	/* Add a black background color to the top navigation */
.topnav {
    background-color: #hsla;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color:#9F7A40;
    color: white;
}	
h1 {

    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

